* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
}

#content {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 20px;
    text-align: center;
    justify-content: space-between;
}

h1 {
    background-color: hsl(0, 0%, 33%);
    color: hsl(0, 0%, 100%);
    text-align: center;
    padding: 20px;
    font-size: 2.5rem;
}

h2 {
    font-size: 2.5rem;
    font-weight: bold;
    background-color: hsl(0, 0%, 80%);
    padding: 1.5rem;
    border: 2px solid hsl(0, 0%, 33%);
    border-radius: 20px;
}

ul {
    padding: 1.5rem;
    margin: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

li {
    font-size: 2rem;
    text-decoration: none;
    list-style: none;
    padding: 1rem;
    transition: 0.25s ease;
    border-radius: 5px;
    border: 2px solid hsl(0, 0%, 33%);
    cursor: pointer;
}

li:hover {
    box-shadow: 5px 5px 5px hsl(0, 0%, 33%);
}